@{
    ViewData["Title"] = "— Admin";
}

<div class="content-card">
    <div class="center-content-wrapper">
        <h1 class="mt-4">Admin Page tạo bởi Vyes</h1>
    </div>
</div>

<div class="content-card">
    <a class="button" asp-controller="Game" asp-action="AddGame">Thêm game mới</a>
</div>