@model POWStudio.Models.ViewModels.ForgotPassModel

@{
    Layout = null;
    ViewData["Tittle"] = "ForgotPassword";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <title>@ViewData["Tittle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/png" sizes="256x256" href="~/Image/Logo/POW_Logo_Transparent_Small.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Josefin Sans', sans-serif;
        }
        .form-control,
        .btn,
        label {
            font-family: 'Josefin Sans', sans-serif !important;
        }
    </style>
</head>
<body>
<div class="position-relative d-flex justify-content-center align-items-center vh-100 overflow-hidden">

    <div class="position-absolute top-0 start-0 w-100 h-100" id="overlayYTB" style="z-index: 1;transition: opacity 2s ease;opacity: 1;pointer-events: none;overflow: hidden;">
        <img src="/Image/Other/ThapRuaHN.jpg"alt="Ảnh phủ"style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
    </div>
    
    <div class="card shadow-lg p-4 rounded-0" style="max-width: 680px; width: 100%; background-color: rgba(255,255,255,0.9);z-index: 1">
        @if(!Model.bSuccess)
        {
            <h1 class="text-center mb-4">Forgot Password</h1>
            <form id="registerForm" asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="off" aria-required="false" placeholder="name@example.com"/>
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="d-flex justify-content-between align-items-center gap-2 mt-4">
                    <!--Back -->
                    <button type="button" onclick="history.back()" class="btn btn-outline-dark btn-lg w-50 rounded-0">
                        ← Back
                    </button>
                    <!--Submit -->
                    <button type="submit" class="btn btn-dark btn-lg w-50 rounded-0">
                        Submit
                    </button>
                </div>
            </form> 
            <div asp-validation-summary="All" class ="text-danger mb-3" ></div>
        }
        else
        {
            <div class="container text-center py-5">
                <h2 class="mb-4 text-warning fw-bold"> 
                    <i class="bi bi-envelope-check-fill me-2"></i>
                    Password recovery link has been sent to your Gmail.
                </h2>

                <div class="d-flex justify-content-center gap-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark btn-lg w-50 rounded-0">Home</a>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-dark btn-lg w-50 rounded-0">Login</a>
                </div>
            </div>
        }
    </div>
</div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</html>

