<div class="d-flex align-items-center justify-content-center vh-100" style="background-color: #000; color: #eee;">

    <div class="text-center p-5 rounded-0 border border-secondary" style="max-width: 500px; width: 95%; background-color: #1a1a1a;">

        <i class="bi bi-bag-check-fill mb-4" style="font-size: 5rem; color: #00a2ff; filter: drop-shadow(0 0 10px #00a2ff66);"></i>

        <h1 class="text-white fw-bold mb-3" style="font-size: 2rem; margin-top: 15px">Thanks for your order!</h1>

        <p class="text-muted mb-4">Ready to install your products?</p>

        <hr class="border-secondary my-4">

        <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
            <a asp-controller="Account" asp-action="Library" class="btn btn-outline-secondary btn-lg rounded-0 px-4 fw-bold" style="font-size: 0.9rem;box-shadow: none">
                GO TO LIBRARY
            </a>
        </div>

    </div>
</div>